@model IEnumerable<senproject.Models.FAQ>

@{
    ViewBag.Title = "Index";
}

<h2>FAQ List View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.faqid }) |
            @Html.ActionLink("Details", "Details", new { id=item.faqid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.faqid })
        </td>
    </tr>
}

</table>
@Html.ActionLink("Back to Manager's View", "Index", "Employees", new { area = "Employees" }, null)