@model senproject.Models.EmployeeDetails
@{
    ViewBag.Title = "ReportDetails";
}

<h2>Employee Evaluation Report</h2>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User ID</th>
        </tr>
    </>
    <tr>
        <td>@Html.DisplayFor(model => model.Employee.FirstName)</td>
        <td>@Html.DisplayFor(model => model.Employee.LastName)</td>
        <td>@Html.DisplayFor(model => model.Employee.UserId)</td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th>Star Rating</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>


        </tr>
    </thead>
    @foreach (var report in Model.Reports)
    {       
        <tr>
            <td>@report.StarRating</td>
            <td>@report.ResolutionStartTime</td>
            <td>@report.ResolutionEndTime</td>
            <td>@report.Date.ToShortDateString()</td>

        </tr>
    }
    <tfoot>
        <tr>
            <td>Average: @Html.DisplayFor(model => model.ReportAverage)</td>
        </tr>
    </tfoot>
</table>
<p>
   @Html.ActionLink("Back to List", "Index")
</p>
